<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"   "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>


	<bean id="Triangle" class="gq.bithub.wayne.springDemo.Triangle">
		<property name="pointA">
			<bean id="zeroPoint" class="gq.bithub.wayne.springDemo.Point">
				<property name="X" value="0" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointB">
			<bean id="point2" class="gq.bithub.wayne.springDemo.Point">
				<property name="X" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointC">
			<bean id="point3" class="gq.bithub.wayne.springDemo.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
	</bean>

<alias name="triangle" alias="triangle-alias"/>

</beans>
